.cache/
.idea/
*.log
*.pyc
.tox/
.coverage
.coverage.*

# Packages
*.egg
*.egg-info/
sdist/
dist/
build/
node_modules

# Visual Studio Code
.vscode

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# output data
PageValidationResults
/logs/

# Sphinx doc
docs/_build/
