.cache/
.idea/
*.log
*.pyc
.tox/
.coverage
coverage.xml
.pytest_cache
.vscode/

# Packages
*.egg
*.egg-info/
sdist/
dist/
build/
node_modules

# output data
PageValidationResults
/logs/

# Sphinx doc
docs/_build/

.DS_Store