apipkg==1.4
behave==1.2.5
chromedriver-installer==0.0.4
enum34==1.1.6
execnet==1.4.1
Faker==0.7.3
ipaddress==1.0.17
lxml==3.6.4
namedlist==1.7
parse==1.6.6
parse-type==0.3.4
pkg-resources==0.0.0
py==1.4.31
pytest==3.0.0
pytest-allure-adaptor==1.7.5
pytest-xdist==1.15.0
python-dateutil==2.5.3
requests==2.11.1
sauceclient==0.2.1
selenium==2.53.6
six==1.10.0
