apipkg==1.4
behave==1.2.5
chromedriver-installer==0.0.6
certifi==2017.4.17
chardet==3.0.3
enum34==1.1.6
execnet==1.4.1
Faker==0.7.12
idna==2.5
ipaddress==1.0.18
lxml==3.7.3
namedlist==1.7
parse==1.8.2
parse-type==0.3.4
pkg-resources==0.0.0
py==1.4.33
pytest==2.9.0
pytest-allure-adaptor==1.7.5
pytest-xdist==1.16.0
python-dateutil==2.6.0
requests==2.17.3
sauceclient==1.0.0
selenium==3.4.3
six==1.10.0
urllib3==1.21.1
