apipkg==1.4
Appium-Python-Client==0.26
backports.statistics==0.1.0
behave==1.2.6
browsermob-proxy==0.8.0
cached-property==1.4.0
certifi==2018.1.18
chardet==3.0.4
dnspython==1.15.0
email-validator==1.0.2
enum34==1.1.6
execnet==1.5.0
Faker==0.8.11
haralyzer==1.4.11
idna==2.6
ipaddress==1.0.19
parse==1.8.2
parse-type==0.4.2
py==1.5.2
pytest==3.2.5
pytest-forked==0.2
pytest-xdist==1.22.2
python-dateutil==2.6.1
requests==2.18.4
selenium==3.13.0
six==1.11.0
text-unidecode==1.2
urllib3==1.22
